<!DOCTYPE html>
<html lang="en">
  <!-- -------------------------------------------
       HEAD SECTION
       =------------------------------------------- -->
  <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='traveler/css/bootstrap/css/bootstrap.css') }}" />
    <!-- Style CSS -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='traveler/css/signUp.css') }}" />
    <!-- Custom Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap"
          rel="stylesheet" />
    <!-- Responsiveness -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- SEO Optimizations -->
    <title>Hidden Gems | Sign Up</title>
    <meta name="description"
          content="Explore hidden travel destinations across Nigeria. Discover culture, nature, and unforgettable experiences." />
  </head>
  <!-- --------------------------------------------
       BODY SECTION
       ------------------------------------------- -->
  <body>
    <div class="container-fluid min-vh-100">
      <div class="row bg-img">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <!-- header -->
          <div class="header col-md-12">
            <a href="/">
              <img src="{{ url_for('static', filename='traveler/assets/hidden_gem_logo.svg') }}"
                   alt=""
                   class="logo" />
            </a>
            <a href="/login/">
              <button type="button" class="btn btn-secondary">Login instead</button>
            </a>
          </div>
          <!-- title -->
          <div>
            <h1>Sign up</h1>
            <p>
              By continuing you agree to our terms of service and privacy policy
              .
            </p>
          </div>
          <!-- The Form -->
          <form action="{{ url_for('signup') }}" method="POST">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-danger alert-dismissible fade show mb-4"
                       role="alert">
                    <strong>Error:</strong> {{ message }}
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Close"></button>
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <!-- Radio Button -->
            <div class="user-type">
              <input type="radio" id="traveler" name="user_role" value="traveler" checked>
              <label for="traveler" class="user-card col-6">
                As Traveler
                <img src="{{ url_for('static', filename='traveler/assets/signUp/tourist 2.svg') }}">
              </label>
              <input type="radio" id="guide" name="user_role" value="guide">
              <label for="guide" class="user-card col-6">
                As Tour Guide
                <img src="{{ url_for('static', filename='traveler/assets/signUp/tour-guide 2.svg') }}">
              </label>
            </div>
            <!-- first name and last name -->
            <div class="names-wrapper col-md-12">
              <div class="mb-3 col-md-6">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text"
                       class="form-control"
                       id="firstName"
                       name="firstname"
                       placeholder="john" />
              </div>
              <div class="mb-3 col-md-6">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text"
                       class="form-control"
                       id="lastName"
                       name="lastname"
                       placeholder="doe" />
              </div>
            </div>
            <!-- email -->
            <div class="mb-3">
              <label for="Email" class="form-label">Email address</label>
              <input type="email"
                     class="form-control"
                     id="Email"
                     name="email"
                     placeholder="john.doe@example.com"
                     aria-describedby="emailHelp" />
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <!-- password and confirm password -->
            <div class="row gx-2 password_wrapper">
              <!-- password -->
              <div class="col-12 col-md-6 mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password"
                       class="form-control"
                       id="password"
                       name="password"
                       placeholder="••••••••" />
              </div>
              <!-- confirm password -->
              <div class="col-12 col-md-6 mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password"
                       class="form-control"
                       id="confirm_password"
                       name="confirm_password"
                       placeholder="••••••••" />
              </div>
            </div>
            <!-- Checkbox -->
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="check" />
              <label class="form-check-label" for="check">I accept the terms and conditions</label>
            </div>
            <!-- Buttons -->
            <button type="submit" class="btn btn-primary col-12 create-account">Create Account</button>
            <p class="login-account text-center">
              Already have an account?
              <a href="/login/"><span class="login">Login</span></a>
            </p>
          </form>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <!-- ----------------------------------------------
         JAVASCRIPT SECTIONS
         ------------------------------------------- -->
    <script src="{{ url_for('static', filename='traveler/css/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='traveler/js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='traveler/js/signUp.js') }}"></script>
  </body>
</html>
